h2{
    text-align: center;
}

h3 {
    color: black;
    font-size: 25px;
    display: inline;
}

body {
    text-align: center;
  margin: 0;
}


.vl {
    border-left: 3px solid #9e9e9d;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-top: -28px;
}

.upperbar {
    position: sticky;
    height: 54px;
    word-spacing: 40px;
    text-align: center;
}


.aboutsection{
    margin-top: 20px;
    font-size: 20px;
    line-height: 40px;
}